.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.container-fluid {
  /* border: 1px solid black; */
}
.my-info {
  width: 80%;
  /* border: 1px solid black; */
  margin: 4rem auto;
  background-color: white;
  padding: 4rem;
}
.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  border-right: 1px solid rgb(233, 236, 239);
}
.big-profile-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}
.profile-nickname {
  font-weight: bold;
  margin-top: 1rem;
}
.profile-content {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2.3rem;
}
.my-posts {
  cursor: pointer;
}
.my-comments {
  cursor: pointer;
}
.hashtags-form {
  align-items: center;
}
.hashtag-add {
  width: 8rem;
  height: 2rem;
}
.hashtag-add-btn {
  border: none;
  font-size: 1rem;

  width: fit-content;
  border-radius: 4px;
  text-align: center;
  background-color: #ec6d6d;
  color: white;
  margin: 0;
  transition: 0.3s;
}

.hashtag-add-btn:hover {
  border: solid 1px #ec6d6d;
  color: #ec6d6d;
  background-color: white;
}
.board-title {
  padding: 0.8rem;
  text-align: center;
  color: gray;
  border: 1px solid rgb(233, 236, 239);
}
.board-content {
  padding: 0.4rem;
  border-bottom: 1px solid rgb(233, 236, 239);
  color: gray;
  cursor: pointer;
  padding-left: 2rem;
}
